.DS_Store
.ipynb_checkpoints
__pycache__
build
test_*
*_test
*.vasp
INCAR
KPOINTS
POSCAR
POSCAR_*_*
POTCAR
CONTCAR
OUTCAR
REPORT
IBZKPT
PCDAT
OSZICAR
XDATCAR
CHG
CHGCAR
WAVECAR
EIGENVAL
DOSCAR
*.dat
*.out
*.xml
*_*_list
slurm-*
log
